<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>prefixed-textarea demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../prefixed-textarea.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic prefixed-textarea demo</h3>
      <demo-snippet>
        <template>
          <prefixed-textarea disabled input-icon="cancel" input-value="Example of prefixed textarea"></prefixed-textarea>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
